In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("covid_toy.csv")

In [7]:
df.sample(5)

    age  gender  fever   cough       city has_covid
97   20  Female  101.0    Mild  Bangalore        No
19   42  Female    NaN  Strong  Bangalore       Yes
56   71    Male    NaN  Strong    Kolkata        No
66   51    Male  104.0    Mild    Kolkata        No
52   47  Female  100.0  Strong  Bangalore       Yes

In [9]:
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute  import SimpleImputer

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
x_train , x_test , y_train , y_test = train_test_split(df.iloc[:,0:5] , df.iloc[:,-1] , test_size=0.2 , random_state=42)

In [29]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [37]:
oe = OrdinalEncoder(categories=[['Mild' , 'Strong']])

In [39]:
x_new_train = oe.fit_transform(x_train[['cough']])
x_new_test = oe.fit_transform(x_test[['cough']])

In [41]:
x_new_train.shape

(80, 1)

In [43]:
si = SimpleImputer()

In [45]:
x_train_fever = si.fit_transform(x_train[['fever']])
x_test_fever = si.fit_transform(x_test[['fever']])

In [47]:
x_train_fever.shape

(80, 1)

In [55]:
ohe = OneHotEncoder(drop='first', sparse_output=False)
x_train_nominal = ohe.fit_transform(x_train[['gender','city']])
x_test_nominal = ohe.fit_transform(x_test[['gender','city']])

In [57]:
x_train_nominal.shape

(80, 4)

In [59]:
x_train_age = x_train.drop(columns= ['gender' , 'city' , 'fever' , 'cough']).values
x_test_age =  x_test.drop(columns= ['gender' , 'city' , 'fever' , 'cough']).values

In [63]:
x_train_age.shape

(80, 1)

In [65]:
x_train_transformed = np.concatenate((x_train_age , x_train_nominal , x_train_fever , x_new_train), axis=1)
x_test_transformed = np.concatenate((x_test_age , x_test_nominal , x_test_fever , x_new_test), axis=1)

In [67]:
x_train_transformed.shape

(80, 7)

In [69]:
df['city'].unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object)

using column transformer

In [71]:
from sklearn.compose import ColumnTransformer

In [81]:
transformer = ColumnTransformer(transformers=[
    ('tnf1' , SimpleImputer() , ['fever']),
    ('tnf2' , OrdinalEncoder(categories =[['Mild' , 'Strong']]) , ['cough']),
    ('tnf3' , OneHotEncoder(drop='first', sparse_output=False) , ['gender' ,'city'])
],remainder ='passthrough')

In [85]:
x_train_best=transformer.fit_transform(x_train)

In [87]:
x_test_best = transformer.fit_transform(x_test)

In [89]:
x_train_best.shape

(80, 7)

In [91]:
x_test_best.shape

(20, 7)

now sparse_output is used,  transformers is the list sklearn impute contain simpleimputer and compose contain column transformer